## Python Lists, Dictionaries, and Comprehensions

This section introduces Python lists, dictionaries and comprehensions.

### Introduction to Lists

In [ ]:
# define a list and then show the list
l1 = [1, 2, 3, 17, 967, 45, "dog", 'cat']
l1

In [ ]:
# element referencing, i, -i, 0-based.
l1[1]

In [ ]:
# Nested lists
l2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l2

In [ ]:
# this one and the previous are equivalent -- which is clearer (visually)?
l2 = [ [1, 2, 3]
     , [4, 5, 6]
     , [7, 8, 9]
     ]
l2

In [ ]:
# to view the nexted list in matrix form:
for r in l2:
    print(r)

In [ ]:
# This is important and causes beginners problems.
# Unlike simple objects, lists are mutable in Python.
l1 = [1, 2, 3]
l2 = l1
l1, l2

In [ ]:
l1[0] = "The dog ate my homework."
# Now show both lists.  
l1, l2

In [ ]:
# compare to the similar actions with simple objects
x = 123
y = x
x, y

In [ ]:
x = "The dog ate my homework."
x, y

In [29]:
# append
l = [1, 2, 3, 'cow']
l.append(0)
l

[1, 2, 3, 'cow', 0]

In [30]:
# pop
x = l.pop()
l, x

([1, 2, 3, 'cow'], 0)

In [31]:
# remove - try (in IPython) - define l, enter l.remove? and enter (to see the help)
l.remove(3)
l

[1, 2, 'cow']

In [ ]:
#sort
l.sort()
l

In [24]:
# reverse
l.reverse()
l

[3, 2, 1, 0]

### Range Objects and Lists

In [ ]:
r = range(10)
r, list(r)

In [ ]:
r = range(7, 24, 2)
r, list(r)

In [ ]:
# Range objects are often used as iterators for loop operations
for j in range(5):
    print(j)

In [ ]:
str = "The dog ate my homework."
for j in range(len(str)):
    print (str[j])

In [ ]:
l = ["one", 2, "three", 4, 'Five']
for j in range(len(l)):
    print(l[j])

In [ ]:
# list objects also have iterators
for item in l:
    print(item)

### Introduction to List Comprehensions
This is an important concept -- comprehensions are your friends!

In [ ]:
# Define a matrix
m = [ [1, 2, 3]
    , [4, 5, 6]
    , [7, 8, 9]
    ]

# show the third row
m[2]

In [ ]:
# to show the third column - use a list comprehension
[r[2] for r in m]

In [ ]:
# to show the diagonal (upper left to lower right)
[m[i][i] for i in [0, 1, 2]]

In [ ]:
# more generally ...
[m[i][i] for i in range(len(m))]

In [ ]:
# even elements of the second column
[r[1] for r in m if r[1] % 2 == 0]

In [ ]:
# 18 random dice rolls
import random
[random.randint(1, 6) for i in range(18)]
# note that the iterator (i) is only used to iterate and isn't used in the expression.

### Sample List-based Data Structure and Accessing/Processing/Comprehensions

In [ ]:
# creating a list to define a person
person = ["Tom Howard", 54, 6.0]

# creating a list of lists to define a team
people = [
    ["Tom Howard",          54,  6.0],
    ["Jane Grimm",          19,  4.9],
    ["Sam Brown",           25,  6.2],
    ["Sarah Joan Spade",    26, 5.25],
    ["Blaine Jones",        62,  5.8],
    ["Devin Callahan",      32, 5.92],
]

In [ ]:
person

In [ ]:
people

In [ ]:
# How many people on the team
len(people)

In [ ]:
# Print each person's name and age
for p in people:
    print("{:} is {:} years old".format(p[0], p[1]))

In [ ]:
# Create a list of all names
[p[0] for p in people]

In [ ]:
# Create a list of all last names
[p[0].split()[-1] for p in people]

In [ ]:
# Create a list of all ages
[p[1] for p in people]

In [ ]:
# Compute the average age
sum([p[1] for p in people])/float(len(people))

In [ ]:
# Find the oldest person
# max age
ages =[p[1] for p in people] 
max(ages)
# which is max? - 62
#ages.index(62)
# who - person 4
#people[4][0]

In [ ]:
# all together
people[[p[1] for p in people].index(max([p[1] for p in people]))][0]

In [ ]:
# Find the youngest person
people[[p[1] for p in people].index(min([p[1] for p in people]))][0]

### Dictionaries

In [ ]:
# Dictionaries are very useful.
d = {"a": 123, "b": 345, "c": 789}
d

In [ ]:
d.keys()

In [ ]:
list(d.keys())

In [ ]:
d.values()

In [ ]:
list(d.values())

In [ ]:
for k in d:
    print(d[k])

In [ ]:
dl = { 
     'one' : [1, 2, 3, 4, 5]
    ,'two' : [6, 7, 8, 9, 10]
    ,'three' : [127, 96, 455, 32, 5] 
}
dl

In [ ]:
for key in dl:
    print(dl[key])

In [ ]:
for key in dl:
    for e in dl[key]:
        print(e)

In [34]:
student = {'name': 'Joe', 'class':'sr', 'grade':92}
student

{'class': 'sr', 'grade': 92, 'name': 'Joe'}

In [35]:
student['grade']

92

In [ ]:
# Nested dictionaries
students = {
    'Jane Doe'   : {'ID':'b0001','Gender': 'F','HW1':95,'HW2':87, 'HW3':92,'Exam1': 88,'Exam2':93,'FinalExam':90},
    'John Blue'  : {'ID':'b0002','Gender': 'M','HW1':55,'HW2':76, 'HW3':89,'Exam1': 77,'Exam2':82,'FinalExam':80},
    'Kim Tester' : {'ID':'b0003','Gender': 'F','HW1':80,'HW2':75, 'HW3':65,'Exam1': 70,'Exam2':75,'FinalExam':80},
    'Larry Black': {'ID':'b0004','Gender': 'M','HW1':90,'HW2':90, 'HW3':92,'Exam1': 95,'Exam2':85,'FinalExam':94},
    'Susan White': {'ID':'b0005','Gender': 'F','HW1':65,'HW2':52, 'HW3':85,'Exam1': 45,'Exam2':80,'FinalExam':82}
    }

In [ ]:
for student in students:
    print (student)

In [ ]:
for student in students:
    print (student, students[student]['FinalExam'])