# Pandas - Some Sample Datasets
Most of these came from: https://opendata.socrata.com/browse

Some sample code to read csv files into Pandas DataFrames and "explore."

## Some preliminary stuff to setup

In [1]:
# getting things ready
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')


# show - displays the Pandas object 
def show(data, show_data = 0):
    print ("  Index: {:}".format(data.index))
    print ("Columns: {:}".format(data.columns))
    print ("  Shape: {:}".format(data.shape))
    if show_data:
        print(data.values)

# simple descriptive statistics for the NumPy array object
def simple_ds(data):
    print ("Number of values: {:,d}".format(len(data)))
    print ("           Mean : {:,.3f}".format(data.mean()))
    print ("         Median : {:,.3f}".format(np.median(data)))
    print ("        Std Dev : {:,.3f}".format(data.std()))
    print ("          Range : ({:,.3f}, {:,.3f})".format(data.min(), data.max()))

In [2]:
# Some sample datasets - all from the source above.
# Dictionary - key:actual file name
fnames = {
     "cities"    :"01_U.S._Top_25_Largest_Cities.csv"
    ,"airports"  :"02_Airport_Codes_mapped_to_Latitude_Longitude_in_the_United_States.csv"
    ,"starbucks" :"03_All_Starbucks_Locations_in_the_US_-_Map.csv"
    ,"scpay"     :"04_South_Carolina_State_Employee_Salary_Database.csv"
    ,"songs"     :"05_Top_1_000_Songs_To_Hear_Before_You_Die.csv"
    ,"bestcos"   :"06_Top_5_000_Companies_from_INC.com.csv"
    ,"accounts"  :"07_Unclaimed_bank_accounts.csv"
    ,"wh2012"    :"08_2012_Annual_Report_to_Congress_on_White_House_Staff.csv"
    ,"washconst" :"09_Completed_Construction_Projects_2005_in_Washington_DC.csv"
    ,"usecon"    :"10_us_economic_data.csv"
    ,"matches"   :"11_matches.csv"
    ,"meals"     :"12_meals.csv"
}

## Sample Analysis

In [3]:
# Grab a data set using the key and show the first few rows
fkey = "meals"
df = pd.read_csv("../data/"+fnames[fkey])
show(df)
df.head()

  Index: RangeIndex(start=0, stop=894, step=1)
Columns: Index(['cost', 'day', 'meal', 'party_size', 'payer', 'tip'], dtype='object')
  Shape: (894, 6)

    cost  day       meal  party_size   payer   tip
0   4.96  Thu  breakfast           1    Male  0.53
1  26.37  Tue      lunch           2  Female  5.04
2  29.93  Thu     dinner           2  Female  7.13
3  14.93  Thu     dinner           1  Female  3.73
4   8.24  Wed  breakfast           2    Male  0.98

In [4]:
# Built-in describe method to get some descriptive statistics
df.describe()

             cost  party_size         tip
count  894.000000  894.000000  894.000000
mean    26.905872    2.134228    4.058915
std     18.060383    0.952331    3.263251
min      3.380000    1.000000   -1.770000
25%     13.267500    1.000000    1.700000
50%     22.120000    2.000000    3.100000
75%     36.415000    3.000000    5.400000
max     94.750000    4.000000   19.790000

In [ ]:
# Extract a numerical column as a NumPy array
some_nums = df['JobsAdded'].values
type(some_nums)

In [ ]:
# Have a look at the data
simple_ds(some_nums)
plt.figure(figsize=(10, 8))
plt.hist(some_nums)
plt.show()

In [ ]:
# sort the DataFrame
df.sort_values(by="JobsAdded", ascending=False)

In [ ]:
df.plot(y="JobsAdded")

In [ ]:
df['GDP'].dropna().plot()

In [ ]:
df.plot(y="UnemploymentRate")